{{- $years := partialCached "fn/years" . "y" }}
<h1 id="title">{{ partial "fn/i18n_args" (slice "heading" $years) }}</h1><br>
<p id="intro">{{ partial "fn/i18n_args" (slice "intro" $years) | markdownify }}</p><br>
<p><a href="#start-scroll" id="start">{{ .Params.start }} <svg width="24" height="24" viewBox="0 200 1896 1896" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M1683 808l-742 741q-19 19-45 19t-45-19l-742-741q-19-19-19-45.5t19-45.5l166-165q19-19 45-19t45 19l531 531 531-531q19-19 45-19t45 19l166 165q19 19 19 45.5t-19 45.5z"/></svg></a></p><br>
<div class="timeline-filter-wrapper">
  <div class="timeline-filter">
    <ul>
      <li>
        <input type="checkbox" name="filter-shortcut" id="all" checked /> <label for="all">{{ .Params.all }}</label>
      </li>
      <li>
        <input type="checkbox" name="filter" id="floss-events" checked /> <label for="floss-events">{{ .Params.floss }}</label>
      </li>
      <li>
        <input type="checkbox" name="filter" id="kde-events" checked /> <label for="kde-events">{{ .Params.kde }}</label>
      </li>
      <li>
        <input type="checkbox" name="filter" id="meetings" checked /> <label for="meetings">{{ .Params.meetings }}</label>
      </li>
      <li>
        <input type="checkbox" name="filter" id="releases" checked /> <label for="releases">{{ .Params.releases }}</label>
      </li>
    </ul>
  </div>
</div>

<div class="mt-4">
  {{ i18n "available-in" }}
  <a class="mx-2" aria-selected="true" hreflang="{{ .Site.Language.Lang }}" role="option" lang="{{ .Site.Language.Lang }}" href="{{ .Permalink }}">{{ .Site.Language.LanguageName }}</a>
  {{ range .Translations }}
  <a class="mx-2" hreflang="{{ .Language.Lang }}" role="option" lang="{{ .Language.Lang }}" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
  {{ end }}
</div>
